ul.ability-scores {
    list-style: none;
    text-transform: capitalize
}

ul.ability-scores strong {
    display: inline-block;
    width: 7em;
}

span.score {
    display: inline-block;
    width: 2em;
}

span.heading {
    display: block;
    font-weight: bold;
}

.skill-list ul {
   padding-left: 1em; 
}