/* You can add global styles to this file, and also import other style files */
.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/Gear.gif');
    background-size: 30px 30px;
}